doctype html
html

  head
    link(href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet")
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/postView.css')

  body

    .container
      //- the 'block content' is where the layout will be included
      block content
