extends layout.pug

block content
	h1 Hello #{userName}
	#pagePosts
		each post in posts
			.postcard
				a(href=post.linkUrl)
					h3 #{post.title}

				form(method='POST')
					input.btn.btn-danger.btn-lg(type='submit' formaction='post/'+post._id+'/upvote' value='upvote')
					input.btn.btn-danger.btn-lg(type='submit' formaction='post/'+post._id+'/downvote' value='downvote')
	a.btn.btn-success.btn-lg(href='/newPost') Add Post
